.button-back {
  width: 60%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 80%);
}

.TextFields {
  margin-top: 50px;
}

.InputLabel {
  margin-top: 50px;
  text-align: center;
}

.key {
  width: 30%;
  float: left;
  margin-top: 20px;
  text-align: center;
}

.value {
  width: 70%;
  float: right;
  text-align: center;
}

.row {
  width: 100%;
  border-bottom: 0.1px solid;
  border-color: brown;
}

.Grid {
  width: 40%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  /* box-shadow: 1px 2px 10px #157380; */
  padding: 1em;
}
